@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/geist-mono-latin-400-normal.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Geist Mono", monospace;
}
