---
import "../styles/globals.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      async
      defer
      data-domain="www.herbievine.com"
      src="https://penkle.com/scripts/penkle.min.js"
    />
    <meta
      name="description"
      content="I partner up with startups, businesses, and entrepreneurs to create powerful, scalable, and user-friendly web applications."
    />
    <meta
      name="keywords"
      content="react, javascript, web development, software development, herbie vine"
    />
    <meta name="author" content="Herbie Vine" />
    <meta property="og:title" content="Herbie Vine" />
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="https://www.herbievine.com" />
    <title>Herbie Vine</title>
  </head>
  <body class="px-4 py-8 sm:p-24 flex justify-center bg-blue-50/10 dark:bg-gray-950 transition-colors duration-200 ease-in-out">
    <div class="max-w-7xl w-full p-4">
      <div class="max-w-md flex flex-col space-y-8">
        <h1 class="text-neutral-800 dark:text-neutral-200">Hi, I'm Herbie Vine,</h1>
        <p class="text-neutral-800 dark:text-neutral-200">
          I partner up with startups, businesses, and entrepreneurs to create
          powerful, scalable, and user-friendly b2b applications.
        </p>
        <p class="text-neutral-800 dark:text-neutral-200">
          Each project is unique, and I work closely with you to understand your
          goals and deliver a product that exceeds your expectations.
        </p>
        <!-- <p class="text-neutral-800 dark:text-neutral-200">
          Projects take 3-5 months to complete, starting at €4,000 per month
        </p> -->
        <p class="text-neutral-800 dark:text-neutral-200">
          You can reach out to me by
          <a href="mailto:me@herbievine.com" class="text-cyan-600 dark:text-cyan-500 underline">
            email</a>, or book a
          <a href="https://cal.com/herbievine/30min" class="text-cyan-600 dark:text-cyan-500 underline">
            30m call</a> with me. You can view my work
          <a href="http://localhost:4321/work" class="text-cyan-600 dark:text-cyan-500 underline">
            here</a>.
        </p>
        <div class="flex items-center space-x-4">
          <a href="https://x.com/herbievine" target="_blank" class="text-cyan-600 dark:text-cyan-500 underline">
            x
          </a>
          <a href="https://linkedin.com/in/herbievine" target="_blank" class="text-cyan-600 dark:text-cyan-500 underline">
            linkedin
          </a>
          <a href="https://github.com/herbievine" target="_blank" class="text-cyan-600 dark:text-cyan-500 underline">
            github
          </a>
          <a href="https://herbievine.com/static/cv-herbie-vine.pdf" download target="_blank" class="text-cyan-600 dark:text-cyan-500 underline">
            cv
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
