@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply overscroll-y-none
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: termina, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.scroll--up {
    animation: skewUp 0.8s infinite;
}

.scroll--down {
    animation: skewDown 0.8s infinite;
}

@keyframes skewUp {
    0% {
        transform: translateY(-0px) skewY(0deg);
    }
    50% {
        transform: translateY(-10px) skewY(-4deg);
    }
    100% {
        transform: translateY(-0px) skewY(0deg);
    }
}

@keyframes skewDown {
    0% {
        transform: translateY(-0px) skewY(0deg);
    }
    50% {
        transform: translateY(-10px) skewY(4deg);
    }
    100% {
        transform: translateY(-0px) skewY(0deg);
    }
}

